@import "tailwindcss";

@font-face {
    font-family: 'HannariMincho';
    src: url('/fonts/HannariMincho-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }