基本構造
body {
    margin: 0;
    padding: 0;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    background-color: #f4f7f6; /* 背景色 */
    display: flex; /* Flexboxを使ってbody内のコンテンツを中央に配置 */
    flex-direction: column;
    align-items: center; /* 水平方向中央揃え */
}

/* ヘッダースタイル */
.header {
    background-color: #2d8fdd;
    color: white;
    padding: 15px 0;
    width: 100%; /* 幅を画面いっぱいに */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.8em;
}

/* 入力エリア全体のスタイル */
#input-area{
    background-color: white;
    padding: 30px;
    border-radius: 8px; /* 角を丸くする */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 90%;
    margin-bottom: 20px;
}

    /* 日付入力エリア */
    #date {
        /* text-align: center; */
        margin-bottom: 10px;
    }

    #input-date {
        /* width: calc(100% - 20px); */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
    }

    /* コンテンツエリア */
    #content {
    }

    #content-title{
    }

    textarea {
        width: calc(100% - 20px);
        height: 150px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        resize: vertical;
    }

/* ボタンエリアのスタイル */
#button-area {
    display: flex;
    justify-content: center;
    gap: 15px; /* ボタン間の隙間 */
    margin-bottom: 30px;

}

    /* ボタンスタイル */
    .action-button {
        background-color: #2d8fdd;
        color: white;
        border: none;
        padding: 12px 25px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .action-button:hover {
        background-color: #247bbd;
    }

    .action-button.clear {
        background-color: #f44336;
    }

    .action-button.clear:hover {
        background-color: #d32f2f;
    }


/* メモ表示エリアのスタイル */
#memo-list-area {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 90vh;
    min-height: 100px;
    border-top: 5px solid #2d8fdd;
}

    /* h2のスタイル */
    #memo-list-area h2 {
        text-align: center;
        color: #333;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1.5em;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }