/* base */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

div {
    margin: 30px;
    display: flex;
    justify-content: center;
}

ol {
    padding: 0;
    position: relative;
}

ol li {
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
     line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
}